In [2]:
print("welcome to data Analytics Batch")

welcome to data Analytics Batch

In [3]:
print("my name is ayushi")
print("I am data analytics mentor")

my name is ayushi
I am data analytics mentor

In [1]:
print("""my name is ayushi

I am data analytics mentor""")

my name is ayushi

I am data analytics mentor

In [11]:
print('hello')

hello

In [10]:
print("hello everyone \nwelcome to wscubetech") #new line

hello everyone
welcome to wscubetech

In [12]:
print("it's going to rain today")

wscubetech

In [15]:
print(2.3)

2.3

In [16]:
print('hello')

hello

# Variables

In [38]:
Name = "john"
age = 20
height = 5.8
print(Name)
print(age)

john
20

In [29]:
print(type(name))
print(type(age))
print(type(height))

<class 'str'>
<class 'int'>
<class 'float'>

# User_Input

In [36]:
name = input("Enter your name here: ")
age = int(input("enter age: "))
height = float(input("enter height: "))
print(type(name))
print(type(age))
print(type(height))

Enter your name here: peter
enter age: 23
enter height: 5.8
<class 'str'>
<class 'int'>
<class 'float'>

# Rules of writing Variables

In [1]:
a = "John"
print(A)

NameError: name 'A' is not defined

In [3]:
name = input("enter name: ")
fatherName = input("enter father's name ")
print(name)
print(fatherName)

enter name: john
enter father's namepeter
john
peter

In [4]:
num_1 = int(input("enter number: "))
print(num_1)

SyntaxError: invalid decimal literal (2698216009.py, line 1)

# Arithmetic Operators

In [5]:
print(4+5)

9

In [6]:
num1 = int(input("enter 1st number: "))
num2 = int(input("enter 2nd number: "))

print(num1+num2)

enter 1st number: 56
enter 2nd number: 20
76

In [8]:
print(4-2)
print(4*2) #Astrick
print(4/2)

2
8
2.0

In [10]:
print(3**3) #exponentiation
print(7**2)

27
49

In [13]:
print(39/4)
print(39//4) #quotient (but without decimal value)

9.75
9

print(8 % 3)

# Comparison Operators

In [16]:
print(5>8)

False

In [2]:
num1 = 45
num2 = 56
print(num1 == num2)

print(num1 != num2)

False
True

# Logical Operators

In [22]:
username = "wscube"
password = 12345

un = input("enter name: ")
ps = int(input("enter password: "))

if un == username and ps == password:
    print("login successful")

enter name: wscube
enter password: 12345
login successful

In [24]:
print(4>5 or 7>2 or 9<1)

True

In [26]:
print(not(4>5))

True

In [28]:
print (not( 9==9))

False

# Assignment Operators

In [4]:
amount = 0

chips = 20

amount += 20

milk = 25

amount += 25

print(amount)

25

# Membership Operator

In [8]:
a = "hello"

print("i" not in a)

True

In [7]:
names = ["Yash","Nitesh","Shyam"]

name = input("enter name: ")

print(name in names)

enter name: Meeyosh
False

# Identity Operators

#They deal with the memory (same value and same data type)
a = 23
b = 23.0

print (a is b)
print (a == b)

# Conditional Statement

In [20]:
#if - statement


marks = 91

if marks > 90:
    print("we will buy you a new phone")
    
print("thank you")

we will buy you a new phone
thank you

In [24]:
#if-else statement

marks = 94

if marks > 90:
    print("you will get a new phone")
else:
    print("ghar se bahar")

you will get a new phone

In [27]:
#if-elif-else
marks = int(input("enter marks: "))

if marks >= 90:
    print("you will get a new phone")
elif marks >=80 and marks < 90:
    print("you will get a new watch")
elif marks >=70 and marks < 80:
    print("no phone for a month")
else:
    print("ghar se bahar")

enter marks: 60
ghar se bahar

In [32]:
#Nested if statement

username = "wscube"
password = "12345"

un = input("enter username: ")
if un == username:
    ps = input("enter password: ")
    if ps == password:
        print("login successful")

enter username: wscube
enter password: 12345
login successful

In [36]:
marks = 97

if marks > 90:
    print("new phone")
    if  marks > 95:
        print("new laptop")

new phone
new laptop

In [ ]:
#Short hand if statement

In [2]:
marks = 78

if marks > 40:
    print("pass")
    
if marks > 40: print("pass")

pass
pass

In [ ]:
#Short hand if-else statement

In [5]:
marks = 34

if marks > 40:
    print("pass")
else:
    print("fail")
    
print('pass') if marks > 40 else print("fail")

fail
fail

In [7]:
#write a program to check if a number is positive of negative

num = int(input("enter number: "))

if num > 0:
    print("positive")
else:
    print("negative")

enter number: 5
positive

In [9]:
#write a program to check if a number if odd or even

num = int(input("enter number: "))

if num % 2 == 0:
    print("even")
else:
    print("odd")

enter number: 9
odd

In [12]:
#write a program to identify number of digits in a number upto 5

num = int(input("enter any number upto 5 digits: "))

if num <=9:
    print("one digit number")
elif num >=10 and num <=99:
    print("two digit")
elif num >=100 and num <=999:
    print("three digit")
elif num >=1000 and num <=9999:
    print("four digit")
else:
    print("five digit")

enter any number upto 5 digits: 10000
five digit

In [13]:
#Area of circle

radius = float(input("enter readius: "))

area = (22/7*(radius**2))
print("The area of the circle is: ", area)

enter readius: 4.5
The area of the circle is:  63.64285714285714

In [15]:
print("-"*15, "calculator", "-"*15)

num1 = int(input("enter 1st number:"))
num2 = int(input("enter 2nd number:"))

print("""
Press 1 for addition
Press 2 for subtraction 
Press 3 for multiplication
Press 4 for division""")

choice = int(input("enter a number between 1-4: "))

if choice == 1:
    print("addition: ",num1+num2)

elif choice == 2:
    print("subtraction: ", num1-num2)
    
elif choice == 3:
    print("multiplication: ", num1*num2)

elif choice == 4:
    print("division: ", num1/num2)

else:
    print('invalid input.. try again!')

--------------- calculator ---------------
enter 1st number:56
enter 2nd number:45

Press 1 for addition
Press 2 for subtraction
Press 3 for multiplication
Press 4 for division
enter a number between 1-4: 3
multiplication:  2520

In [18]:
#Iteration
a = "ws cube"

count = 0

for i in a:
    count+=1
    
print(count)

7

In [19]:
a = 12345

for i in a:
    print(i)

TypeError: 'int' object is not iterable

In [22]:
for i in range(10,16):
    print(i)

10
11
12
13
14
15

In [26]:
# 8 x 1 = 8
num = int(input("enter num: "))
for i in range(1,11):
    print(num, "x" , i, "=", num*i)

enter num: 12
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120